# https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ディレクトリの除外の後で!をしてもだめらしい
/pyviewerlib/*
!/pyviewerlib/core/
!/pyviewerlib/__init__.py
!/pyviewerlib/hdf5.py
!/pyviewerlib/jupyter.py
!/pyviewerlib/numpy.py
!/pyviewerlib/pickle.py
!/pyviewerlib/raw_image.py
!/pyviewerlib/sqlite3.py
!/pyviewerlib/tar.py
!/pyviewerlib/xpm.py
!/pyviewerlib/zip.py

