# https://github.com/github/gitignore/blob/main/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# ディレクトリの除外の後で!をしてもだめらしい
/lib/viewers/*
!/lib/viewers/core/
!/lib/viewers/__init__.py
!/lib/viewers/hdf5.py
!/lib/viewers/jupyter.py
!/lib/viewers/numpy.py
!/lib/viewers/np_pickle.py
!/lib/viewers/pickle.py
!/lib/viewers/raw_image.py
!/lib/viewers/sqlite3.py
!/lib/viewers/tar.py
!/lib/viewers/xpm.py
!/lib/viewers/zip.py

/lib/viewers/core/image_viewer/*
!lib/viewers/core/image_viewer/__init__.py
!lib/viewers/core/image_viewer/matplotlib.py
!lib/viewers/core/image_viewer/PIL.py
!lib/viewers/core/image_viewer/cv2.py
